<div class="container">
  <h1>Student CRUD Application</h1>
  <app-student-form [student]="selectedStudent" (formSubmit)="onFormSubmit($event)"></app-student-form>
  
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Grade</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students" appHighlight>
        <td>{{ student.name }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.grade | grade }}</td>
        <td>
          <button (click)="editStudent(student)">Edit</button>
          <button (click)="deleteStudent(student.id!)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>